@model OprReporte
<div class="p-4 border rounded bg-white">
    <div class="p-2 my-1 d-flex align-items-center">
        <div class="pr-3 pe-3">
            <label class="fw-bolder">Tipo Reporte</label>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.IdReporteNavigation?.Descripcion</div>
            </div>
            @* <div class="dm-select" style="width: 180px;">
                <select name="select-search" class="select-search form-control">
                <option value="01">All</option>
                <option value="02">Easy</option>
                <option value="03" selected>Meduim</option>
                <option value="04">Option 4</option>
                <option value="05">Option 5</option>
                </select>
            </div> *@
        </div>
        <div class="ml-4 ms-4" style="width: 10rem;">
            <label class="fw-bolder">Tipo Ingreso</label>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.IdTipoentradaNavigation?.Descripcion</div>
            </div>
            @* <div class="dm-select" style="width: 180px;">
                <select name="select-search" class="select-search form-control">
                <option value="01">All</option>
                <option value="02">Easy</option>
                <option value="03" selected>Meduim</option>
                <option value="04">Option 4</option>
                <option value="05">Option 5</option>
                </select>
            </div> *@
        </div>
        <div class="ml-4 ms-4" style="width: 10rem;">
            <label class="fw-bolder">Estado</label>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.IdEstatusNavigation?.Descripcion</div>
            </div>
            @* <div class="dm-select" style="width: 180px;">
                <select name="select-search" class="select-search form-control">
                    <option value="01">All</option>
                    <option value="02">deactivate</option>
                    <option value="03" selected>open</option>
                    <option value="04">close</option>
                </select>
            </div> *@
        </div>
    </div>
    
    <div class="row p-2 my-1">
        <div class="col-4">
            <span class="fw-bolder">Solicitado por:</span>
            <div class="d-flex align-items-center">
                <img height="24" src='https://ui-avatars.com/api/?color=333&amp;rounded=true&amp;name=@(Model.Nombre.Trim().Replace(" ", "+"))' alt="tdi.png">
                <div class="mx-1">@Model.Nombre</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Fecha Registro:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.FechaRegistro?.ToString("dd MMMM yyyy")</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Ultima Actualizacion:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.FechaRegistro?.ToString("dd MMMM yyyy")</div>
            </div>
        </div>
    </div>

    <div class="row p-2 my-1">
        <div class="col-4">
            <span class="fw-bolder">Correo:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Correo) ? Model.Correo : "*No registrado")</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Celular:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Celular) ? Model.Celular : "*No registrado")</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Telefono:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Telefono) ? Model.Telefono : "*No registrado")</div>
            </div>
        </div>
    </div>

    <div class="row p-2 my-1">
        <div class="col-4">
            <span class="fw-bolder">Municipio:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Municipio) ? Model.Municipio : "*No registrado")</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Localidad:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Localidad) ? Model.Localidad : "*No registrado")</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Colonia:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Colonia) ? Model.Colonia : "*No registrado")</div>
            </div>
        </div>
    </div>

    <div class="row p-2 my-1">
        <div class="col-4">
            <span class="fw-bolder">Calle:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Calle) ? Model.Calle : "*No registrado")</div>
            </div>
        </div>
        <div class="col-4">
            <span class="fw-bolder">Entre Calles:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.EntreCalles) ? Model.EntreCalles : "*No registrado")</div>
            </div>
        </div>
    </div>
</div>
