@using Microsoft.EntityFrameworkCore.Metadata.Conventions
@using eticket.ViewModels
@model MostrarReporteViewModel
@{
    bool allowEdition = true;
}

<div class="p-2 border rounded bg-white">
    <div class="p-2 d-flex align-items-center gap-3">
        <div style="width: 14rem;">
            <label class="fw-bolder">Tipo Ingreso</label>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.Reporte.IdTipoentradaNavigation?.Descripcion</div>
            </div>
        </div>

        <div style="width: 18rem;">
            <label class="fw-bolder">Tipo Reporte</label>
            @if(allowEdition)
            {
                <div class="dm-select border-secondary">
                    <select id="select-tiporeporte" class="form-control">
                    @foreach(var ele in ViewBag.TiposReporteList)
                    {
                        <option value="@ele.Value">@ele.Text</option>
                    }
                    </select>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center">
                    <div class="mx-1 text-uppercase">@Model.Reporte.IdReporteNavigation?.Descripcion</div>
                </div>
            }
        </div>
        
        <div style="width: 14rem;">
            <label class="fw-bolder">Estado</label>
            @if(allowEdition)
            {
                <div class="dm-select border-secondary">
                    <select id="select-estatus" class="form-control">
                        @foreach(var ele in ViewBag.EstatusList)
                        {
                            <option value="@ele.Value">@ele.Text</option>
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center">
                    <div class="mx-1 text-uppercase">@Model.Reporte.IdEstatusNavigation?.Descripcion</div>
                </div>
            }
        </div>

        <div class="ml-auto ms-auto" style="width: 14rem;">
            <label for="select-oficinas" class="fw-bolder">Oficina Asignada</label>
            @if(allowEdition)
            {
                <div class="dm-select border-secondary">
                    <select id="select-oficinas" class="form-control">
                        <option value="0">SIN OFICINA</option>
                        @foreach(var ele in ViewBag.OficinasList)
                        {
                            <option value="@ele.Value">@ele.Text</option>
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center">
                    <div class="mx-1 text-uppercase">@(Model.Reporte.IdOficinaNavigation?.Oficina ?? "Sin Oficina")</div>
                </div>
            }
        </div>
    </div>
    
    <div class="row p-2 my-1">
        <div class="col-3 mb-2">
            <span class="fw-bolder">Solicitado por:</span>
            <div class="d-flex align-items-center">
                <img height="24" src='https://ui-avatars.com/api/?color=333&amp;rounded=true&amp;name=@(Model.Reporte.Nombre.Trim().Replace(" ", "+"))' alt="tdi.png">
                <div class="mx-1">@Model.Reporte.Nombre</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Fecha Registro:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.Reporte.FechaRegistro?.ToString("dd MMMM yyyy")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Ultima Actualizacion:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1 text-uppercase">@Model.Reporte.FechaRegistro?.ToString("dd MMMM yyyy")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Correo:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Correo) ? Model.Reporte.Correo : "*No registrado")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Celular:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Celular) ? Model.Reporte.Celular : "*No registrado")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Telefono:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Telefono) ? Model.Reporte.Telefono : "*No registrado")</div>
            </div>
        </div>
    
        <div class="col-3 mb-2">
            <span class="fw-bolder">Municipio:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Municipio) ? Model.Reporte.Municipio : "*No registrado")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Localidad:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Localidad) ? Model.Reporte.Localidad : "*No registrado")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Colonia:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Colonia) ? Model.Reporte.Colonia : "*No registrado")</div>
            </div>
        </div>
    
        <div class="col-3 mb-2">
            <span class="fw-bolder">Calle:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.Calle) ? Model.Reporte.Calle : "*No registrado")</div>
            </div>
        </div>

        <div class="col-3 mb-2">
            <span class="fw-bolder">Entre Calles:</span>
            <div class="d-flex align-items-center">
                <div class="mx-1">@(!string.IsNullOrEmpty(Model.Reporte.EntreCalles) ? Model.Reporte.EntreCalles : "*No registrado")</div>
            </div>
        </div>
    </div>
</div>
