@using eticket.DTO
@model IEnumerable<ArchivoDTO>

@{
    var extensionesParaMostrar = new string[]
    {
        ".pdf",
        ".png",
        ".jpg",
        ".jpeg",
        ".gif",
    };
}
<div class="p-3">
    @if(Model.Any())
    {
        <div class="ticket-file-attach__wrapper">
            @foreach(var archivo in Model.OrderByDescending(item => item.FechaInsert))
            {
                <div class="ticket-file-attach__items px-1 w-100 pt-1 pb-3 border-bottom">
                    <div class="ticket-file-attach__items_detail w-100">
                        @if(archivo.FileExtension.ToLower().Contains("png"))
                        {
                            <img src="~/img/png.png" alt="png">
                        }
                        else if(archivo.FileExtension.ToLower().Contains("jpg"))
                        {
                            <img src="~/img/jpg.png" alt="jpg">
                        }
                        else if(archivo.FileExtension.ToLower().Contains("pdf"))
                        {
                            <img src="~/img/pdf.png" alt="pdf">
                        }
                        else
                        {
                            <img src="~/img/document.png" alt="document">
                        }
                        <div style="width: calc(100% - 50px);">
                            <h6 class="mb-1 text-truncate small">@archivo.Descripcion</h6>
                            <div class="small">@archivo.FileSizeRedeable</div>
                            <div class="text-muted" style="font-size: 10px;">@archivo.IdImagen</div>
                        </div>
                    </div>
                    <div class="ticket-file-attach__items_download d-flex">
                        @if(extensionesParaMostrar.Contains(archivo.FileExtension))
                        {
                            <a href="#" onclick="mostrarDocumento(event, '@archivo.Descripcion', '@archivo.UrlImage')">
                                <img src="~/img/svg/eye.svg" alt="download" class="svg">
                            </a>
                        }
                        else
                        {
                            <a href="@archivo.UrlDownload" target="_blank">
                                <img src="~/img/svg/download.svg" alt="download" class="svg">
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="ticket-file-attach__wrapper text-center py-3" style="border-radius: 8px; padding: 10px 15px; background: var(--bg-lighter);">
            <div>No hay documentos que mostrar</div>
            <i class="las la-folder-open"></i>
        </div>
    }
</div>