@model eticket.ViewModels.ReporteDTO
<tr>
    <td>
        <div class="userDatatable-content">@Model.Folio</div>
    </td>
    <td>
        <div class="d-flex">
            <div class="userDatatable-inline-title">
                <h6>@Model.Nombre</h6>
            </div>
        </div>
    </td>
    <td>
        <div class="userDatatable-content">
            @Model.Municipio
        </div>
    </td>
    <td>
        <div class="userDatatable-content">
            @if(Model.UsuarioGenero != null)
            {
                var _urlName = Model.UsuarioGenero?.FullName.Replace(" ", "+");
                <img src="https://ui-avatars.com/api/?color=333&amp;rounded=true&amp;name=@_urlName" alt="" class="rounded-circle" height="24" />
                <span>@Model.UsuarioGenero?.FullName</span>
            }
        </div>
    </td>
    <td>
        <div class="userDatatable-content">
            @Model.FechaRegistro.ToString("dd/MM/yyyy HH:mm:ss")
        </div>
    </td>
    <td>
        <div class="userDatatable-content d-inline-block">
            <span class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">
                @Model.EstatusDesc
            </span>
        </div>
    </td>
    <td>
        <div class="userDatatable-content text-center">
            @Model.TotalEntradas
            <i class="las la-comments"></i>
        </div>
    </td>
    <td>
        <ul class="mb-0 d-flex flex-wrap justify-content-center">
            <li>
                <a asp-action="MostrarReporte" asp-route-folioReporteArg="@Model.Folio" class="btn btn-small btn-squared color-primary btn-outline-primary px-2 py-1">
                    <i class="uil uil-eye"></i>
                    <span class="">Mostrar</span>
                </a>
            </li>
        </ul>
    </td>
</tr>