@using eticket.ViewModels
@model List<ReporteDTO>
@{
    ViewData["Title"] = "Reportes";
    string? googleMapsKey = ViewBag.GoogleMapsSettings.Key.ToString();
    ReportesFiltroViewModel filtroViewModel = ViewBag.Filters;
}

<section class="col-12">
    <div class="breadcrumb-main">
        @if(string.IsNullOrEmpty(ViewBag.ReturnUrl))
        {
            @ViewBag.ReturnUrl
        }
        <h4 class="text-capitalize breadcrumb-title">Reportes</h4>
        <div class="breadcrumb-action justify-content-center flex-wrap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="uil uil-estate"></i>Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Reportes</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section id="table-fiter" class="mt-4 border rounded bg-white shadow-sm px-3">
    <div class="p-2 d-flex gap-2 global-shadow border-light-0 w-100 adv-table">
        <div class='form-group my-xl-2 my-1 me-2'>
            <label for="select-tipoentrada" class="d-flex align-items-center mb-sm-0 mb-2">Tipo de Entrada</label>
            <select id="select-tipoentrada" class="form-control ms-sm-10 ms-0">
                <option value="0">TODOS</option>
                @foreach(SelectListItem elem in ViewBag.TipoEntradaList)
                {
                    <option value="@elem.Value">@elem.Text</option>
                }
            </select>
        </div>

        <div class='form-group align-items-center my-xl-2 my-1 me-2'>
            <label for="select-tiporeporte" class="d-flex mb-sm-0 mb-2">Tipo de Reporte</label>
            <select id="select-tiporeporte" class="form-control ms-sm-10 ms-0">
                <option value="0">TODOS</option>
                @foreach(SelectListItem elem in ViewBag.TiposReporteList)
                {
                    <option value="@elem.Value">@elem.Text</option>
                }
            </select>
        </div>

        <div class='form-group my-xl-2 my-1 me-2'>
            <label for="select-status" class="d-flex align-items-center mb-sm-0 mb-2">Estatus</label>
            <select id="select-status" class="form-control ms-sm-10 ms-0">
                <option value="0">TODOS</option>
                @foreach(SelectListItem elem in ViewBag.EstatusList)
                {
                    <option value="@elem.Value">@elem.Text</option>
                }
            </select>
        </div>

        <div class='form-group my-xl-2 my-1 me-2'>
            <label for="select-oficina" class="d-flex align-items-center mb-sm-0 mb-2">Oficina</label>
            <select id="select-oficina" class="form-control ms-sm-10 ms-0">
                <option value="0">TODAS</option>
                <option value="-1">SIN OFICINA</option>
                <optgroup label="OFICINAS">
                @foreach(SelectListItem elem in ViewBag.OficinasList)
                {
                    <option value="@elem.Value">@elem.Text</option>
                }
                </optgroup>
            </select>
        </div>
    </div>
</section>

<section id="table-section" class="mt-4 border rounded bg-white shadow-sm p-3">
    <div class="userDatatable adv-table-table global-shadow border-light-0 w-100 adv-table">
        <div class="table-responsive">
            <table class="table mb-0 table-borderless adv-table reportes-table stripe row-border order-column w-100"
                data-page-length='25'
            >
                <thead>
                    <tr class="userDatatable-header">
                        <th data-type="number">
                            <span class="userDatatable-title">Folio</span>
                        </th>
                        <th>
                            <span class="userDatatable-title">Nombre</span>
                        </th>
                        <th>
                            <span class="userDatatable-title">Municipio</span>
                        </th>
                        <th date-name='dateRange'>
                            <span class="userDatatable-title">Fecha Registro</span>
                        </th>
                        <th data-type="html" data-name='status'>
                            <span class="userDatatable-title">Estatus</span>
                        </th>
                        <th data-type="html" data-name='reportType'>
                            <span class="userDatatable-title">Tipo de Reporte</span>
                        </th>
                        <th data-type="html" data-name='registerType'>
                            <span class="userDatatable-title">Tipo de Entrada</span>
                        </th>
                        <th data-filterable="false" data-type="html" data-name='totalEntradas'>
                            <span class="userDatatable-title">Entradas</span>
                        </th>
                        <th data-filterable="false">
                            <span class="userDatatable-title float-center">Acciones</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var reporte in Model)
                    {
                        @await Html.PartialAsync("./Partials/ReporteDataRow.cshtml", reporte);
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


@section modals
{
    <!-- Modal Mapa-->
    <div class="modal fade new-member mapa-modal" id="mapa-modal" role="dialog" tabindex="-1"
        aria-labelledby="staticBackdropLabel2"
        aria-hidden="true"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
    >
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content radius-xl">
                <div class="modal-header">
                    <h4 class="modal-title fw-500" id="modaltitle2"></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <img src="~/img/svg/x.svg" alt="x" class="svg">
                    </button>
                </div>
                <div class="modal-body" id="body-modal2" style="height:75vh;">
                    <div id="mapa" class="w-100 h-100"></mapa>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
}

@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.5/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.dataTables.min.css">
    <style>
        #filter-form-container {
            display: inherit;
        }
    </style>
}

@section scripts
{
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.5/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=@Html.Raw(googleMapsKey)&v=weekly&libraries=marker"></script>
    <script src="~/js/reportes-index.min.js"></script>
    <script>
        var currentTipoEntrada = '@Html.Raw(filtroViewModel.TipoEntrada)';
        var currentTipoReporte = '@Html.Raw(filtroViewModel.TipoReporte)';
        var currentEstatus = '@Html.Raw(filtroViewModel.Estatus)';
        var curtentOficina = '@Html.Raw(filtroViewModel.Oficina)';
    </script>
}