@using eticket.ViewModels
@model MostrarReporteViewModel
@{
    ViewData["Title"] = $"Reporte #{Model.Reporte.Folio}";
}


<div class="col-12">
    <div class="breadcrumb-main">
        <h4 class="text-capitalize breadcrumb-title">Reporte @Model.Reporte.Folio</h4>
        <div class="breadcrumb-action justify-content-center flex-wrap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="uil uil-estate"></i>Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href='@Url.Action("Index", "Reportes")'>
                            <i class="uil uil-table"></i>Reportes
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Reporte</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<section class="mb-2">
    <div class="support-details">
        <div class="fluid-container">
            <div class="row g-2">
                <div class="col-12">
                    <div class="p-2 border rounded bg-white d-flex align-items-center justify-content-between">
                        <div>
                            <a asp-action="Index" class="text-decoration-none text-black">
                                <i class="las la-angle-left"></i>
                                <span>Regresar</span>
                            </a>
                        </div>

                        <div>
                            <a href="#" class="btn px-15 btn-primary" data-bs-toggle="modal" data-bs-target="#nueva-entrada-modal">
                                <i class="las la-plus fs-16"></i>
                                <span>Nueva Entrada</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-12">
                    @await Html.PartialAsync("./Partials/DatosReporte.cshtml", Model.Reporte)
                </div>

                <div class="col-lg-4 col-sm-12">
                    <div class="p-4 border rounded bg-white">
                        <h4>Documentos Adjuntos:</h4>
                        <div class="ticket-file-attach__wrapper">
                            @foreach(var archivo in Model.Archivos.OrderByDescending(item => item.FechaInsert))
                            {
                                <div class="ticket-file-attach__items p-1 w-100">
                                    <div class="ticket-file-attach__items_detail w-100">
                                        @if(archivo.FileExtension.ToLower().Contains("png"))
                                        {
                                            <img src="~/img/png.png" alt="png">
                                        }
                                        else if(archivo.FileExtension.ToLower().Contains("jpg"))
                                        {
                                            <img src="~/img/jpg.png" alt="jpg">
                                        }
                                        else if(archivo.FileExtension.ToLower().Contains("pdf"))
                                        {
                                            <img src="~/img/pdf.png" alt="pdf">
                                        }
                                        else
                                        {
                                            <img src="~/img/document.png" alt="document">
                                        }
                                        <div style="width: calc(100% - 50px);">
                                            <h6 class="mb-1 text-truncate small">@archivo.Descripcion</h6>
                                            <div class="small">@archivo.FileSizeRedeable</div>
                                            <div class="text-muted" style="font-size: 10px;">@archivo.IdImagen</div>
                                        </div>
                                    </div>
                                    <div class="ticket-file-attach__items_download d-flex">
                                        <a href="#" onclick="mostrarDocumento(event, '@archivo.Descripcion', '@archivo.UrlImage')">
                                            <img src="~/img/svg/eye.svg" alt="download" class="svg">
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fluid-container">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="p-4 border rounded bg-white ticket-chat-wrapper">
                <h4 class="border-bottom pb-2">Entradas</h4>

                <div class="table-responsive col-12">
                    <div id="filter-form-container"></div>
                    <table class="table mb-0 table-borderless table-striped adv-table"
                        data-sorting="false"
                        data-filter-container="#filter-form-container"
                        data-paging-current="1"
                        data-paging-position="right"
                        data-paging-size="10">
                        <thead>
                            <tr class="userDatatable-header">
                                <th data-sorted="false">
                                    <span class="userDatatable-title">#</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Estatus</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Operador</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Fecha</span>
                                </th>
                                <th data-sorted="false">
                                    <span class="userDatatable-title">Observaciones</span>
                                </th>
                                <th data-sorted="false">
                                    <span class="userDatatable-title">Doc. Adjuntos</span>
                                </th>
                                <th data-sorted="false">
                                    <span class="userDatatable-title">Acciones</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var detReporte in Model.Entradas)
                            {
                                <tr>
                                    <td>
                                        <div class="userDatatable-content text-center">
                                            @i
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            <span class="text-nowrap rounded-pill userDatatable-content-status active @(detReporte.EstatusCssClass)">
                                                @detReporte.Estatus
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content d-flex align-items-center gap-1">
                                            @{
                                                var _nombreOperador = detReporte.Operador ?? "Desconocido";
                                            }
                                            <img height="32" src='https://ui-avatars.com/api/?color=333&amp;rounded=true&amp;name=@(_nombreOperador.Replace(" ", "+"))' alt="avatar">
                                            <div>@_nombreOperador</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content d-flex flex-column align-items-center">
                                            <div class="text-small">@detReporte.Fecha.ToString("dd/MM/yyyy")</div>
                                            <div class="text-small">@detReporte.Fecha.ToString("HH:mm:ss")</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            @Html.Raw(detReporte.Observaciones)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content d-flex justify-content-center">
                                            <span class="mr-1 me-1">@detReporte.TotalDocumentosAdjuntos</span>
                                            <i class="uil uil-paperclip"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <ul class="mb-0 d-flex flex-wrap justify-content-center">
                                                <li>
                                                    <a asp-action="MostrarReporte" asp-route-folioReporteArg="@Model.Reporte.Folio" class="btn btn-small btn-squared color-primary btn-outline-primary px-2 py-1">
                                                        <i class="uil uil-eye"></i>
                                                        <span class="">Mostrar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal Nuevo Det Reporte-->
<div class="modal fade new-member nueva-entrada-modal" id="nueva-entrada-modal" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h4 class="modal-title fw-500" id="staticBackdropLabel">Nueva Entrada</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="~/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body" id="body-modal">
                @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "")
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<!-- Modal Nuevo Det Reporte-->
<div class="modal fade new-member documento-adjunto-modal" id="documento-adjunto-modal" role="dialog" tabindex="-1"
    aria-labelledby="staticBackdropLabel2" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false"
>
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h4 class="modal-title fw-500" id="modaltitle2">Docuemnto Adjunto</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="~/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body" id="body-modal2">
                <iframe src="" title="eticket viewer" class="w-100" style="height: 75dvh;"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<style>
    body
    {
        background-color: whitesmoke !important;
    }

    .ticket-file-attach__items:not(:last-child) {
        margin-bottom: 20px;
    }

    .ticket-file-attach__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ticket-file-attach__items_detail {
        display: inline-flex;
        align-items: center;
    }



    .ticket-user-list .ticket-user-list-item
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
        border-bottom: 1px solid #bbb;
    }
    .ticket-user-list .ticket-user-list-item:last-child
    {
        border-bottom: 0px
    }

    .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .avatar
    {
        margin-right: 0.75rem;
    }

    .ticket-user-list .ticket-user-list-item .ticket-users-list-body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .ticket-users-list-body-title {
        width: calc(100% - 6.5rem);
    }

    .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .ticket-users-list-body-title h6 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4285714286;
        color: var(--color-dark);
    }

    .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .ticket-users-list-body .last-chat-time {
        width: 6rem;
        text-align: end;
    }


</style>

@section scripts
{
    <script>
        let modal = undefined;
        let modalDocumento = undefined;
        const folioReporte = '@Html.Raw(Model.Reporte.Folio)';

        function inicializarTabla()
        {
            $('.adv-table').footable({
                "sorting": {
                    "enabled": false
                },
                "paging": {
                    "enabled": true,
                    "current": 1
                },
                strings: {
                    enabled: false
                },
                "filtering": {
                    "enabled": false
                }
            });
        }

        function cargarFormulario()
        {
            $("#body-modal").load('@Url.Action("FormularioNuevoDetReporte")', null, onFormularioCompleted);
        }

        function onFormularioCompleted(resp, status, request)
        {
            $('#observaciones').trumbowyg({
                svgPath: '../img/svg/icons.svg',
                btns: [
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['base64'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['emoji']
                ]
            });
        }

        function submitReporteForm(event)
        {
            event.preventDefault();

            const url = `/reportes/${folioReporte}/entrada`;
            const method = 'POST';
            const form = $(event.target);

            // clear errors messags
            $("span.text-danger").text("");

            $.ajax({
                url: url,
                type: method,
                data: form.serialize(),
                success: function(response) {
                    modal.hide();
                    Swal.fire({
                        title: "Entrada registrada",
                        icon: "success",
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        window.location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr, error);
                    if(xhr.status == 422)
                    {
                        const {errors} = xhr.responseJSON;
                        errors.forEach(err => {
                            const errorSpan = $(`span[data-valmsg-for="${err.field}"]`);
                            errorSpan.text(err.message);
                        });
                    }
                    else
                    {
                        let titleMessage = "Error no controlado al registrar la entrada";
                        if(xhr.responseJSON)
                        {
                            const { title } = xhr.responseJSON;
                            if(title)
                            {
                                titleMessage = title;
                            }

                        }
                        Swal.fire({
                            title: titleMessage,
                            icon: "error"
                        });
                    }
                }
            });
        }

        function mostrarDocumento(event, nombre, urlArchivo)
        {
            $("#body-modal2 iframe").attr("src", urlArchivo);
            $("#modaltitle2").text(nombre);
            modalDocumento.show();
        }

        jQuery(document).ready(function()
        {
            if (document.getElementsByClassName("nueva-entrada-modal").length)
            {
                modal = new bootstrap.Modal(document.getElementById("nueva-entrada-modal"));
            }

            if (document.getElementsByClassName("documento-adjunto-modal").length)
            {
                modalDocumento = new bootstrap.Modal(document.getElementById("documento-adjunto-modal"));
            }

            cargarFormulario();
            
            inicializarTabla();
        });
    </script>
}