@using eticket.ViewModels
@model MostrarReporteViewModel
@{
    ViewData["Title"] = $"Reporte #{Model.Reporte.Folio}";
    string? googleMapsKey = ViewBag.GoogleMapsSettings.Key.ToString();

    bool mostrarMapa = false;
    if(Model.Reporte?.GpsLat != 0 && Model.Reporte?.GpsLat != null && Model.Reporte?.GpsLon != 0 && Model.Reporte?.GpsLon != null )
    {
        mostrarMapa = true;
    }
}

<div class="col-12">
    <div class="breadcrumb-main">
        <div class="d-flex aling-items-center">
            <div>
                <a asp-action="Index" class="text-decoration-none text-black h5">
                    <i class="las la-undo"></i>
                    <span>Regresar</span>
                </a>
            </div>
            <span class="mx-3 vr mb-2 bolder"></span>
            <h4 class="text-capitalize breadcrumb-title">Reporte @Model.Reporte?.Folio</h4>
        </div>

        <div class="breadcrumb-action justify-content-center flex-wrap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="uil uil-estate"></i>Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href='@Url.Action("Index", "Reportes")'>
                            <i class="uil uil-table"></i>Reportes
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Reporte</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section class="mb-2">
    <div class="support-details">
        <div class="fluid-container">
            <div class="row g-2">
                <div class="col-12">
                    <div class="p-2 border rounded bg-white d-flex align-items-center justify-content-between">
                        <div class="d-flex gap-2">
                            <button id="button-save-changes" class="btn px-15 btn-success d-none">
                                <i class="las la-save"></i>
                                <span>Guardar Cambios</span>
                            </button>
                            <button id="button-discard-changes" class="btn px-15 btn-info d-none">
                                <i class="las la-undo-alt"></i>
                                <span>Cancelar Cambios</span>
                            </button>
                        </div>
                        <div>
                            <a href="#" class="btn px-15 btn-primary" data-bs-toggle="modal" data-bs-target="#nueva-entrada-modal">
                                <i class="las la-plus fs-16"></i>
                                <span>Nueva Entrada</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    @await Html.PartialAsync("./Partials/DatosReporte.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card card-default card-md mb-4">
    <div class="card-body">
        <div class="tab-wrapper">
            <div class="dm-tab tab-horizontal">
                <ul class="nav nav-tabs vertical-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-v-1-tab" data-bs-toggle="tab" href="#tab-v-1" role="tab" aria-selected="true">
                            <i class="las la-comment-dots"></i>
                            Entradas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-v-2-tab" data-bs-toggle="tab" href="#tab-v-2" role="tab" aria-selected="false">
                            <i class="las la-paperclip"></i>
                            Archivos
                        </a>
                    </li>
                    @if(mostrarMapa)
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="tab-v-3-tab" data-bs-toggle="tab" href="#tab-v-3" role="tab" aria-selected="false">
                                <i class="las la-map-marked-alt"></i>
                                Mapa
                            </a>
                        </li>
                    }
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-v-1" role="tabpanel" aria-labelledby="tab-v-1-tab" style="min-height: 25vh;">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="table-responsive col-12">
                                    <div id="filter-form-container"></div>
                                    <table class="table mb-0 table-borderless table-striped adv-table"
                                        data-sorting="false"
                                        data-filter-container="#filter-form-container"
                                        data-paging-current="1"
                                        data-paging-position="right"
                                        data-paging-size="10">
                                        <thead>
                                            <tr class="userDatatable-header">
                                                <th data-sorted="false">
                                                    <span class="userDatatable-title">#</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Estatus</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Operador</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Fecha</span>
                                                </th>
                                                <th data-sorted="false">
                                                    <span class="userDatatable-title">Observaciones</span>
                                                </th>
                                                <th data-sorted="false">
                                                    <span class="userDatatable-title">Doc. Adjuntos</span>
                                                </th>
                                                <th data-sorted="false">
                                                    <span class="userDatatable-title">Acciones</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var i = 1;
                                            }
                                            @foreach (var detReporte in Model.Entradas)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="userDatatable-content text-center">
                                                            @i
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            <span class="text-nowrap rounded-pill userDatatable-content-status active @(detReporte.EstatusCssClass)">
                                                                @detReporte.Estatus
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content d-flex align-items-center gap-1">
                                                            @{
                                                                var _nombreOperador = detReporte.Operador ?? "Desconocido";
                                                            }
                                                            <img height="32" src='https://ui-avatars.com/api/?color=333&amp;rounded=true&amp;name=@(_nombreOperador.Replace(" ", "+"))' alt="avatar">
                                                            <div>@_nombreOperador</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content d-flex flex-column align-items-center">
                                                            <div class="text-small">@detReporte.Fecha.ToString("dd/MM/yyyy")</div>
                                                            <div class="text-small">@detReporte.Fecha.ToString("HH:mm:ss")</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            @Html.Raw(detReporte.Observaciones)
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content d-flex justify-content-center">
                                                            <span class="mr-1 me-1">@detReporte.TotalDocumentosAdjuntos</span>
                                                            <i class="uil uil-paperclip"></i>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group" role="group">
                                                            <ul class="mb-0 d-flex flex-wrap justify-content-center">
                                                                <li>
                                                                    <a asp-action="MostrarReporte" asp-route-folioReporteArg="@Model.Reporte.Folio" class="btn btn-small btn-squared color-primary btn-outline-primary px-2 py-1">
                                                                        <i class="uil uil-eye"></i>
                                                                        <span class="">Mostrar</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-v-2" role="tabpanel" aria-labelledby="tab-v-2-tab" style="min-height: 25vh;">
                        @await Html.PartialAsync("./Partials/DocumentosAdjuntosPanel.cshtml", Model.Archivos)
                    </div>

                    @if(mostrarMapa)
                    {
                        <div class="tab-pane fade" id="tab-v-3" role="tabpanel" aria-labelledby="tab-v-3-tab">
                            <div class="google-map" id="google-map" style="min-height: 75vh;"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section modals
{
    <!-- Modal Nuevo Det Reporte-->
    <div class="modal fade new-member nueva-entrada-modal" id="nueva-entrada-modal" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content radius-xl">
                <div class="modal-header">
                    <h4 class="modal-title fw-500" id="staticBackdropLabel">Nueva Entrada</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <img src="~/img/svg/x.svg" alt="x" class="svg">
                    </button>
                </div>
                <div class="modal-body" id="body-modal">
                    @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "")
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->


    <!-- Modal Nuevo Det Reporte-->
    <div class="modal fade new-member documento-adjunto-modal" id="documento-adjunto-modal" role="dialog" tabindex="-1"
        aria-labelledby="staticBackdropLabel2" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false"
    >
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content radius-xl">
                <div class="modal-header">
                    <h4 class="modal-title fw-500" id="modaltitle2">Docuemnto Adjunto</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <img src="~/img/svg/x.svg" alt="x" class="svg">
                    </button>
                </div>
                <div class="modal-body" id="body-modal2">
                    <iframe src="" title="eticket viewer" class="w-100" style="height: 75dvh;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
}

@section styles
{
    <style>
        .ticket-file-attach__items:not(:last-child) {
            margin-bottom: 20px;
        }

        .ticket-file-attach__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .ticket-file-attach__items_detail {
            display: inline-flex;
            align-items: center;
        }

        .ticket-user-list .ticket-user-list-item
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 15px;
            border-bottom: 1px solid #bbb;
        }
        .ticket-user-list .ticket-user-list-item:last-child
        {
            border-bottom: 0px
        }

        .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper
        {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .avatar
        {
            margin-right: 0.75rem;
        }

        .ticket-user-list .ticket-user-list-item .ticket-users-list-body {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
        }

        .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .ticket-users-list-body-title {
            width: calc(100% - 6.5rem);
        }

        .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .ticket-users-list-body-title h6 {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4285714286;
            color: var(--color-dark);
        }

        .ticket-user-list .ticket-user-list-item .ticket-user-list-item__wrapper .ticket-users-list-body .last-chat-time {
            width: 6rem;
            text-align: end;
        }
    </style>
}

@section scripts
{
    <script src="http://maps.googleapis.com/maps/api/js?key=@Html.Raw(googleMapsKey)&v=weekly&libraries=marker"></script>
    <script>
        let modal = undefined;
        let modalDocumento = undefined;
        const folioReporte = '@Html.Raw(Model.Reporte.Folio)';

        var modificacionReporte = {
            selectTipoReporte: undefined,
            selectEstatus: undefined,
            buttonSave:undefined,
            buttonDiscard: undefined,
            currentEstatus: '@Html.Raw(Model.Reporte.IdEstatus)',
            currentTipoReporte: '@Html.Raw(Model.Reporte.IdReporte)',
            showSaveChangesButton: false,
            _newEstatus: '@Html.Raw(Model.Reporte.IdEstatus)',
            _newTipoReporte: '@Html.Raw(Model.Reporte.IdReporte)',
            set newEstatus(value) {
                this._newEstatus = value;
                this.checkChanges();
            },
            get newEstatus(){
                return this._newEstatus;
            },
            set newTipoReporte(value) {
                this._newTipoReporte = value;
                this.checkChanges();
            },
            get newTipoReporte(){
                return this._newTipoReporte;
            },
            load: ()=> {
                modificacionReporte.buttonSave = document.getElementById('button-save-changes');
                modificacionReporte.buttonSave.addEventListener('click', function(event){
                    modificacionReporte.saveChanges();
                });

                modificacionReporte.buttonDiscard = document.getElementById('button-discard-changes');
                modificacionReporte.buttonDiscard.addEventListener('click', function(event){
                    modificacionReporte.discardChanges();
                })

                
                modificacionReporte.selectTipoReporte = document.getElementById('select-tiporeporte');
                modificacionReporte.selectTipoReporte.value = modificacionReporte.newTipoReporte;
                modificacionReporte.selectTipoReporte.addEventListener('change', function(event) {
                    const selectedValue = event.target.value;
                    if (selectedValue !== modificacionReporte.newTipoReporte)
                    {
                        modificacionReporte.newTipoReporte = selectedValue;
                    }
                });

                modificacionReporte.selectEstatus = document.getElementById('select-estatus');
                modificacionReporte.selectEstatus.value = modificacionReporte.newEstatus;
                modificacionReporte.selectEstatus.addEventListener('change', function(event) {
                    const selectedValue = event.target.value;
                    if (selectedValue !== modificacionReporte.newEstatus)
                    {
                        modificacionReporte.newEstatus = selectedValue;
                    }
                });
            },
            checkChanges: ()=>{
                if(modificacionReporte.currentEstatus != modificacionReporte._newEstatus || modificacionReporte.currentTipoReporte != modificacionReporte._newTipoReporte)
                {
                    modificacionReporte.showSaveChangesButton = true;
                    modificacionReporte.buttonDiscard.classList.remove("d-none");
                    modificacionReporte.buttonSave.classList.remove("d-none");
                }
                else
                {
                    modificacionReporte.showSaveChangesButton = false;
                    modificacionReporte.buttonDiscard.classList.add("d-none");
                    modificacionReporte.buttonSave.classList.add("d-none");
                }
            },
            discardChanges: ()=>{
                modificacionReporte._newEstatus = modificacionReporte.currentEstatus;
                modificacionReporte._newTipoReporte = modificacionReporte.currentTipoReporte;
                modificacionReporte.selectEstatus.value = modificacionReporte._newEstatus;
                modificacionReporte.selectTipoReporte.value = modificacionReporte._newTipoReporte;
                modificacionReporte.checkChanges();
            },
            saveChanges: ()=>{
                const data = {
                    EstatusId: modificacionReporte.newEstatus,
                    TipoReporte: modificacionReporte.newTipoReporte
                };

                $.ajax({
                    url: `/api/reportes/${folioReporte}`,
                    type: 'PATCH',
                    data: data,
                    success: function(response) {
                        Swal.fire({
                            title: "Reporte actualizado",
                            icon: "success",
                            confirmButtonText: 'Aceptar'
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function(xhr) {
                        let titleMessage = "Error al actualizar el reporte";
                        if (xhr.responseJSON && xhr.responseJSON.title) {
                            titleMessage = xhr.responseJSON.title;
                        }
                        Swal.fire({
                            title: titleMessage,
                            icon: "error"
                        });
                    }
                });
            }
        };

        var maps = {
            map: undefined,
            default_lat: 19.922385,
            default_lon: -96.826112,
            init: (lat, lang)=>{
                let showMarker = false;
                if(lat && lang )
                {
                    showMarker = true;
                    var myCenter = new google.maps.LatLng(lat, lang);
                    var initZoom = 17;
                }
                else
                {
                    var myCenter = new google.maps.LatLng(maps.default_lat, maps.default_lon);
                    var initZoom = 7;
                }

                var myCenter = (lat && lang)
                    ? new google.maps.LatLng(lat, lang)
                    : new google.maps.LatLng(maps.default_lat, maps.default_lon);

                // init the map
                var mapProp = {
                    center: myCenter,
                    zoom: initZoom,
                    scrollwheel: false,
                    mapId: "eticket_reporte_map_id"
                };
                maps.map = new google.maps.Map(document.getElementById("google-map"), mapProp);

                // add the marker
                if(showMarker)
                {
                    const marker = new google.maps.marker.AdvancedMarkerElement({
                        map: maps.map,
                        position: myCenter,
                        title: 'Uluru'
                    });
                    marker.setMap(maps.map);
                }
            }
        };

        function inicializarTabla()
        {
            $('.adv-table').footable({
                "sorting": {
                    "enabled": false
                },
                "paging": {
                    "enabled": true,
                    "current": 1
                },
                strings: {
                    enabled: false
                },
                "filtering": {
                    "enabled": false
                }
            });
        }

        function cargarFormulario()
        {
            $("#body-modal").load('@Url.Action("FormularioNuevoDetReporte")', null, onFormularioCompleted);
        }

        function onFormularioCompleted(resp, status, request)
        {
            $('#observaciones').trumbowyg({
                svgPath: '../img/svg/icons.svg',
                btns: [
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['base64'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['emoji']
                ]
            });
        }

        function submitReporteForm(event)
        {
            event.preventDefault();

            const url = `/reportes/${folioReporte}/entrada`;
            const method = 'POST';
            const form = $(event.target);

            // clear errors messags
            $("span.text-danger").text("");

            $.ajax({
                url: url,
                type: method,
                data: form.serialize(),
                success: function(response) {
                    modal.hide();
                    Swal.fire({
                        title: "Entrada registrada",
                        icon: "success",
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        window.location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr, error);
                    if(xhr.status == 422)
                    {
                        const {errors} = xhr.responseJSON;
                        errors.forEach(err => {
                            const errorSpan = $(`span[data-valmsg-for="${err.field}"]`);
                            errorSpan.text(err.message);
                        });
                    }
                    else
                    {
                        let titleMessage = "Error no controlado al registrar la entrada";
                        if(xhr.responseJSON)
                        {
                            const { title } = xhr.responseJSON;
                            if(title)
                            {
                                titleMessage = title;
                            }

                        }
                        Swal.fire({
                            title: titleMessage,
                            icon: "error"
                        });
                    }
                }
            });
        }

        function mostrarDocumento(event, nombre, urlArchivo)
        {
            $("body").css("cursor", "wait");

            const $iframe = $("#body-modal2 iframe");
            $iframe.off("load");
            $iframe.on("load", function ()
            {
                $("body").css("cursor", "default");
                $("#modaltitle2").text(nombre);
                modalDocumento.show();
            });
            $iframe.attr("src", urlArchivo);
        }

        jQuery(document).ready(function()
        {
            if (document.getElementsByClassName("nueva-entrada-modal").length)
            {
                modal = new bootstrap.Modal(document.getElementById("nueva-entrada-modal"));
            }

            if (document.getElementsByClassName("documento-adjunto-modal").length)
            {
                modalDocumento = new bootstrap.Modal(document.getElementById("documento-adjunto-modal"));
            }

            cargarFormulario();
            
            inicializarTabla();

            modificacionReporte.load();

            if($('#google-map').length)
            {
                let lat = @Html.Raw(Model.Reporte?.GpsLat);
                let lon = @Html.Raw(Model.Reporte?.GpsLon);
                maps.init(lat, lon);
            }
        });
    </script>
}