@model List<eticket.Models.OprReporte>

@{
    ViewData["Title"] = "Últimos Reportes";
    var currentPage = (int)ViewBag.CurrentPage;
    var totalPages = (int)ViewBag.TotalPages;
}

<h1>Reportes</h1>

<section id="form-section">
    @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "Cargando...")
</section>


<section id="table-section" class="mt-4 border rounded bg-white shadow-sm p-3">
    <h2>Ultimos Reportes</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Folio</th>
                <th>Estatus</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Municipio</th>
                <th>Fecha Registro</th>
                <th>Genero</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Folio</td>
                    <td>@r.IdEstatusNavigation?.Descripcion</td>
                    <td>@r.Nombre</td>
                    <td>@r.Correo</td>
                    <td>@r.Municipio</td>
                    <td>@r.FechaRegistro?.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@r.IdGeneroNavigation?.Usuario</td>
                    <td>
                        <a asp-action="MostrarReporte" asp-route-folioReporteArg="@r.Folio" class="btn btn-sm btn-primary">Mostrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<!-- Modal Nuevo Det Reporte-->
<div class="modal fade new-member nuevo-reporte-modal" id="nuevo-reporte-modal" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h4 class="modal-title fw-500" id="staticBackdropLabel">Nuevo Reporte</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="~/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body" id="body-modal">
                @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "")
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<style>
    .trumbowyg-editor, .trumbowyg-textarea, .trumbowyg-box
    {
        min-height: 200px !important;
    }
</style>

@section scripts
{
    <script>
        let modal = undefined;
        let currentReportTypeId = undefined;

        function displayMenu()
        {
            $("#form-section").load('@Url.Action("NuevoReporteMenuPartialView")');
        }

        function displayForm(reporteTipeId)
        {
            currentReportTypeId = reporteTipeId;

            const url = '@Url.Action("NuevoReporteFormPartialView", "Reportes", new { tipoReporteId = "__PLACEHOLDER__" })'
            .replace("__PLACEHOLDER__", reporteTipeId);
            $("#body-modal").load(url, null, onFormularioLoadedCompleted);
        }

        function submitNuevoReporte(event)
        {
            event.preventDefault();

            const url = "/reportes";
            const method = 'POST';
            const form = $(event.target);

            // clear errors messags
            $("span.text-danger").text("");

            $.ajax({
                url: url,
                type: method,
                data: form.serialize(),
                success: function(response) {
                    modal.hide();
                    
                    var {folio} = response;
                    Swal.fire({
                        title: "Reporte almacenado",
                        text: `Folio: ${folio}`,
                        icon: "success",
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        // TODO: Reload the table
                        window.location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr, error);
                    if(xhr.status == 422)
                    {
                        const {errors} = xhr.responseJSON;
                        errors.forEach(err => {
                            const errorSpan = $(`span[data-valmsg-for="${err.field}"]`);
                            errorSpan.text(err.message);
                        });
                    }
                    else
                    {
                        let titleMessage = "Error no controlado al registrar la entrada";
                        if(xhr.responseJSON)
                        {
                            const { title } = xhr.responseJSON;
                            if(title)
                            {
                                titleMessage = title;
                            }

                        }
                        Swal.fire({
                            title: titleMessage,
                            icon: "error"
                        });
                    }
                }
            });
        }

        function onFormularioLoadedCompleted(resp, status, request)
        {
            $('#Observaciones').trumbowyg({
                svgPath: '../img/svg/icons.svg',
                btns: [
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['base64'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['emoji']
                ]
            });

            $("#nuevoReporteForm").on('submit', submitNuevoReporte);

            modal.show();
        }

        jQuery(document).ready(function()
        {
            displayMenu();

            // * init the modal
            if (document.getElementsByClassName("nuevo-reporte-modal").length)
            {
                modal = new bootstrap.Modal(document.getElementById("nuevo-reporte-modal"));
            }
        });
    </script>
    @* <script src="~/js/reportes.js"></script> *@
}