@model List<eticket.Models.OprReporte>

@{
    ViewData["Title"] = "Últimos Reportes";
    var currentPage = (int)ViewBag.CurrentPage;
    var totalPages = (int)ViewBag.TotalPages;
}

<h1>Reportes</h1>

<section id="form-section">
    @await Html.PartialAsync("~/Views/Shared/_LoadingSpinner.cshtml", "Cargando...")
</section>


<section id="table-section" class="mt-4 border rounded bg-white shadow-sm p-3">
    <h2>Ultimos Reportes</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Folio</th>
                <th>Estatus</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Municipio</th>
                <th>Fecha Registro</th>
                <th>Genero</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Folio</td>
                    <td>@r.IdEstatusNavigation?.Descripcion</td>
                    <td>@r.Nombre</td>
                    <td>@r.Correo</td>
                    <td>@r.Municipio</td>
                    <td>@r.FechaRegistro?.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@r.IdGeneroNavigation?.Usuario</td>
                    <td>
                        <a asp-action="MostrarReporte" asp-route-folioReporteArg="@r.Folio" class="btn btn-sm btn-primary">Mostrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<style>
    #form-section .menu-item:hover {
        background-color: #5076a1 !important;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        transition: background 0.2s, box-shadow 0.2s;
    }
</style>

@section scripts
{
    <script>
        function displayMenu()
        {
            $("#form-section").load('@Url.Action("NuevoReporteMenuPartialView")');
        }

        function displayForm(reporteTipeId)
        {
            const url = '@Url.Action("NuevoReporteFormPartialView", "Reportes", new { tipoReporteId = "__PLACEHOLDER__" })'
            .replace("__PLACEHOLDER__", reporteTipeId);
            $("#form-section").load(url);

            $("#nuevoReporteForm").on('submit', submitNuevoReporte);
        }

        function submitNuevoReporte(event)
        {
            event.preventDefault();

            const url = "/reportes";
            const method = 'POST';
            const form = $(event.target);

            // clear errors messags
            $("span.text-danger").text("");

            $.ajax({
                url: url,
                type: method,
                data: form.serialize(),
                success: function(response) {
                    var {folio} = response;
                    Swal.fire({
                        title: "Reporte almacenado",
                        text: `Folio: ${folio}`,
                        icon: "success",
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        window.location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    if(xhr.status == 422)
                    {
                        const {errors} = xhr.responseJSON;
                        errors.forEach(err => {
                            const errorSpan = $(`span[data-valmsg-for="${err.field}"]`);
                            errorSpan.text(err.message);
                        });
                    }
                    else
                    {
                        Swal.fire({
                            title: "Error no controlado al registrar el reporte",
                            icon: "error"
                        });
                        console.error(xhr, error);
                    }
                }
            });
        }
    
        jQuery(document).ready(function()
        {
            setTimeout( function()
            {
                displayMenu();
            }, 500);
        });
    </script>
}